/*========== FONTS ==========*/
@import url("http://fonts.cdnfonts.com/css/century-gothic-paneuropean");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");

/*========== VARIABLES CSS ==========*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  --first-color: #b7202c;
  --first-color-alt: #b6122e;
  --secondary-color: #c59952;
  --secondary-color-alt: #b38a49;
  --title-color: #111111;
  --text-color: #212122;
  --text-color-light: #313132;
  --body-color: #f6f6f6;
  --container-color: #e6e5e3;

  /*========== Font and Typography ==========*/
  --body-font: "Old Standard TT", serif;
  --title-font: "Century Gothic Paneuropean", sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-normal: 350;
  --font-medium: 400;
  --font-semi-bold: 700;
  --font-black: 800;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== Z Index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*Responsive typography*/
@media screen and (min-width: 992px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
/*========== BASE ==========*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight:var(--font-normal) ;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

/*========== REUSABLE CSS CLASSES ==========*/
.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-family: var(--title-font);
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  text-align: center;
}

/*========== LAYOUT ==========*/
.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden; /*For animation*/
}

/*========== HEADER ==========*/
.header {
  width: 100%;
  background: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

/*========== NAV ==========*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.nav__logo-img {
  width: 1.25rem;
}

.nav__link,
.nav__logo,
.nav__toggle,
.nav__close {
  color: var(--title-color);
  font-family: var(--title-font);
}

.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    width: 100%;
    background: var(--container-color);
    top: -150%;
    left: 0;
    padding: 3.5rem 0;
    transition: 0.4s;
    z-index: var(--z-fixed);
    border-radius: 0 0 1.5rem 1.5rem;
  }
}

.nav__img {
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.nav__close {
  font-size: 1.8rem;
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  cursor: pointer;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.nav__link {
  text-transform: uppercase;
  transition: 0.4s;
}

.nav__link:hover {
  color: var(--text-color);
}

/* Show menu */
.show-menu {
  top: 0;
}

/* Change background header */
.scroll-header {
  background: var(--container-color);
}

/* Active link */
.active-link {
  position: relative;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  border-radius: 50%;
}

/*========== HOME ==========*/
.home__content {
  row-gap: 1rem;
}

.home__group {
  display: grid;
  position: relative;
  padding-top: 2rem;
}

.home__img {
  height: 500px;
  justify-self: center;
}

.home__subtitle {
  font-family: var(--title-font);
  font-size: var(--h3-font-size);
  text-transform: uppercase;
  margin-bottom: var(--mb-1);
}

.home__title {
  font-family: var(--title-font);
  color: var(--first-color);
  font-size: var(--biggest-font-size);
  line-height: 109%;
  margin-bottom: var(--mb-1);
}

.home__description {
  margin-bottom: var(--mb-1);
}

.home__buttons {
  display: flex;
  justify-content: space-between;
}

/*=============== BUTTONS ===============*/
.button {
  font-family: var(--title-font);
  display: inline-block;
  background-color: var(--body-color);
  color: var(--first-color);
  padding: 1rem 1.75rem;
  border: 1px solid var(--first-color);
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
  color: var(--body-color);
}

.button__icon {
  font-size: 1.25rem;
}

.button--link {
  color: var(--first-color);
}

.button--flex {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}

/*========== ABOUT ==========*/
.aboutus__content{
  row-gap: 1rem;
}

.aboutus__group{
  display: grid;
  position: relative;
  padding-top: 2rem;
}

.aboutus__img{
  height: 500px;
  justify-self: center;
}

.aboutus__subtitle{
  font-size: var(--h1-font-size);
  font-family: var(--title-font);
  color: var(--first-color);
  text-transform: uppercase;
  margin-bottom: var(--mb-1);
}

.aboutus__description{
  margin-bottom: var(--mb-1);
}

/*========== ACCOMODATIONS ==========*/

/*========== DINING ==========*/

/*========== FACILITIES ==========*/

/*========== EXPERIENCES ==========*/

/*========== OFFERS ==========*/

/*========== FOOTER ==========*/

/*========== SCROLL UP ==========*/

/*========== SCROLL BAR ==========*/

/*========== BREAKPOINTS ==========*/

/*For small devices*/

/*For medium devices*/

/*For large devices*/

/*For 2K and 4K devices*/
